@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    background: var(--color-primary);
}
.container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    "menu menu menu menu menu menu menu menu menu menu menu menu"
    "notification notification notification notification sales sales sales sales sales sales balance balance"
    "notification notification notification notification sales sales sales sales sales sales balance balance"
    "week week week week sales sales sales sales sales sales balance balance"
    "week week week week sales sales sales sales sales sales devs devs"
    "week week week week sales sales sales sales sales sales devs devs"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    ;
    

    width: 800px;
    height: 600px;
    margin: 15px auto;
    background: var(--color-primary);
    grid-gap: 8px;
    
}
.container div{
    border-radius: 5px;
}
.item_1 {
    grid-area: menu;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background: var(--color-secundary);
    width: 100%;
    height: 100%;
    text-align: center;
    grid-column-gap: 5%;
}
.item_1 ul{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.item_1  li {
    list-style: none;
    display: inline-block;
    margin-top: 6%;
}
.item_1 input{
    border: none;
    width: 30%;
}
.imagen1{
    width:50%;
}
.imagen2{
    width: 50%;
}
.icono{
    display: grid;
    grid-template-columns: 10% 30% 40% 20%;
    width: 100%;
    height: 68x;
    background: linear-gradient(to right, rgb(137, 216, 249), rgb(215, 240, 101));
}
.imagen1{
    width: 63%;
    height: auto;
    margin-top: 60%;
    margin-left: 100%;

}
.imagen2{
    width: 23%;
    height: auto;
    margin: 15%;
}
.name{
    margin-top: 14%;
}
.name h1{
    font-size: 14px;
}
.name p{
    font-size: 12px;
    margin-right: -40px;
}
.perfil img{
    width: 35px;
    height: auto;
    margin-top: 24%;
    margin-left: 0px;
    margin-right: 100%;
}
.item_2{
    background: rgb(135, 216, 249);
    grid-area: notification;
    display: grid;
    grid-template-rows: repeat(2,1fr);
}
.tex{
    margin: 3%;
    line-height: 21px;
}
.tex p{
    font-size: 12px;
}
.tex h1{
    font-size: 15px;
}
.imgs{
    margin-left: 3%;
}
.img1{
    position: absolute;
    width: 36px;
}
.img2{
    position: absolute;
    margin-left: 24px;
    width: 36px;
}
.img3{
    position: absolute;
    margin-left: 200px;
    width: 36px;
}
.img4{
    position: absolute;
    margin-left: 50px;
    width: 36px;
}
.item_3{
    background: var(--color-secundary);
    grid-area: sales;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: 100%;
}
.celda1{
    margin-left: 3%;
    margin-top: 4%;
    font-size: 14px;
}
.celda2{
    font-size: 18px;
    display: flex;
    margin-left: 3%;
    margin-top: 4%;
}
.celda2 input{
    margin-left: 54%;
    border-style: none;
}
.celda3{
    font-size: 15px;
    margin-left: 3%;
    margin-top: 4%;
}
.celda4{
    color: rgb(225, 240, 111);
    font-size: 13px;
    margin-left: 3%;
    margin-top: 4%;
}
.celda5 img{
    width: 95%;
    height: auto;
    margin-left: 3%;
}
.item_4{
    background: var(--color-secundary);
    grid-area: balance;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 100%;
    justify-content: space-between;
}
.tit1 p, .tit2 p, .tit3 p{
    margin: 6%;
    margin-left: 9%;
    font-size: 12px;
}
.tit1 h1, .tit2 h1, .tit3 h1{
    margin: 6%;
    margin-left: 9%;
    margin-top: -3px;
    font-size: 21px;
}
.tit2{
    margin: 0;
    width: 100%;
    height: 90%;
    background: rgb(190, 240, 190);
}
.item_5{
    background: var(--color-secundary);
    grid-area: week;
}
.caja5{
    width: 93%;
    margin: 3%;
    margin-top: 10%;
}
.item_6{
    background: rgb(210, 240, 100);
    grid-area: devs;
    display: grid;
    grid-template-rows: repeat(2, 50%);
}
.item_6 p{
    font-size: 11px;
    margin-top: 10%;
    margin-left: 10%;
}
.item_6 h1{
    font-size: 13px;
    margin-left: 10%;
    margin-top: 4%;
}
.item_6 button{
    margin-left: 10%;
    margin-top: 9%;
    width: 60%;
    height: 30%;
    font-size: 10px;
    border-style: none;
}
.item_6 img{
    width: 30px;
    height: auto;
    margin-top: 20%;
}
.icono1{
    margin-left: 10%;
}
.icono2{
    margin-left: -15px;
}
.icono3{
    margin-left: 21%;
}
.item_7{
    background: var(--color-secundary);
    grid-area: product;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.botons{
    font-size: 100%;
    width: 36%;
    height: 12%;
    border: none;
    border-radius: 5px;
    background-color: rgb(211, 239, 109);
    margin-left: 10%
}
.tix1{
    margin: 10%;
    font-size: 17px;
    font-weight: 600;
}
.tix2{
    margin: 10%;
    margin-top: 0%;
    font-size: 15px;
}
.wal img{
    margin: 0;
    height: 100%;
    margin-left: 27%;
}
.item_7 .img1{
    margin-top: 30px;
    margin-left: 45px;
    width: 36px;
    z-index: 10;
}
.item_7 .img2{
    margin-top: 30px;
    margin-left: 20px;
    width: 36px;
}
.item_7 .img3{
    margin-top: 30px;
    margin-left: 120px;
    width: 36px;
}
.item_8{
    background: var(--color-secundary);
    grid-area: timeline;
}
.item_8 img{
    margin: 3%;
    margin-top: 0;
    margin-left: 12%;
    width: auto;
    height: 93%;
}
@media (width < 800px){
    .container{
        width: 100%;
        margin: 0;
        padding: 0 10px;
        padding-top: 5px;

        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "menu menu"
        "notification notification"
        "sales balance"
        "week week"
        "devs devs"
        "product product"
        "timeline timeline"
       ;
    }
}